<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>审核表单</title>
    <link href="/bootstrap/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2" id="sidebar">
                <div class="logo"></div>
            </div>
            <div class="col-md-10" id="main">
                <blockquote><h2><span class="glyphicon glyphicon-eye-open" ></span> Review The OverTime Item Apply</h2></blockquote>
                <hr/>
                <fieldset>
                    <table class="table bg-info" >
                        <tr><td width="20%">Owner:</td><td><%= item.owner %></td></tr>
                        <tr><td>Date:</td><td><%= item.createDate.format('yyyy-M-d hh:mm') %></td></tr>
                        <tr><td>Hours:</td><td><%= item.hours %> H</td></tr>
                        <tr><td>Reson:</td><td><p><%= item.reason %></p></td></tr>
                        <% if (item.status != 'create') { %>

                        <tr><td>Status:</td><td><p><%= item.status %></p></td></tr>

                        <% }%>
                    </table>
                    <% if (item.status == 'create') { %>
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <a class="btn btn-block btn-success" href="/item/approve/<%= item._id %>"><span class="glyphicon glyphicon-ok" ></span> APPROVE</a>
                            </div>
                            <div class="col-md-6">
                                <a class="btn btn-block btn-danger" href="/item/reject/<%= item._id %>"><span class="glyphicon glyphicon-remove" ></span> REJECT</a>
                            </div>
                        </div>
                    </form>
                    <% }%>
                </fieldset>

            </div>
        </div>
    </div>

</body>
</html>