<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fill Out The Form</title>
    <link href="/bootstrap/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2" id="sidebar">
                <div class="logo"></div>
                <div class="btn-group-vertical btn-block">
                    <a class="btn btn-primary" href="/user/item/list/all"><span class="glyphicon glyphicon-th-list"></span> RECORDS</a>
                    <a class="btn btn-warning" href="/user/modifypwd"><span class="glyphicon glyphicon-lock"></span> SECURITY</a>
                    <a class="btn btn-danger" href="/logout"><span class="glyphicon glyphicon-log-out"></span> LOG OUT</a>
                </div>
            </div>
            <div class="col-md-10" id="main">
                <blockquote><h2><span class="glyphicon glyphicon-pencil" ></span> Fill Out The Form</h2></blockquote>
                <fieldset>
                    <form role="form" method="post" action="/item/apply">
                        <div class="form-group">
                            <input type="text" class="form-control" name="hours" id="hoursText" placeholder="Over Time Hours. ex: 2 " required="">
                        </div>
                        <div class="form-group">
                            <textarea rows="10" class="form-control" name="reason" placeholder="Reason"></textarea>
                        </div>
                        <button type="submit" class="btn btn-block btn-success">APPLY</button>
                    </form>
                </fieldset>

            </div>
        </div>
    </div>

</body>
</html>