<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>List</title>
    <link href="/bootstrap/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2" id="sidebar">
                <div class="logo"></div>
                <div class="btn-group-vertical btn-block">
                    <a class="btn btn-block btn-info" href="/item/create"><span class="glyphicon glyphicon-file"></span> CREATE</a>
                    <a class="btn btn-warning" href="/user/modifypwd"><span class="glyphicon glyphicon-lock"></span> SECURITY</a>
                    <a class="btn btn-danger" href="/logout"><span class="glyphicon glyphicon-log-out"></span> LOG OUT</a>
                </div>
            </div>
            <div class="col-md-10" id="main">
                <blockquote><h2>My Overtime Item Records</h2></blockquote>
                <div class="btn-group">
                    <a href="/user/item/list/all" class="btn btn-info">ALL</a>
                    <a href="/user/item/list/create" class="btn btn-warning">APPLYED</a>
                    <a href="/user/item/list/approved" class="btn btn-success">APPROVED</a>
                    <a href="/user/item/list/rejected" class="btn btn-danger">REJECTED</a>
                    <a href="/user/item/list/filed" class="btn btn-primary">FILED</a>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Hours</th>
                        <th>Reason</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% if (items.length) { %>
                    <% items.forEach(function(item){ %>

                    <tr>
                        <td><%= item.createDate.format('yyyy-M-d') %></td>
                        <td><%= item.hours %> H</td>
                        <td title="<%= item.reason%>"><%= item.reason%></td>
                        <td><%= item.status %></td>
                    </tr>
                    <% }) %>
                    <% }else{%>
                    <tr>
                        <td colspan="5" class="warning"><p class="text-center">No Data</p></td>
                    </tr>
                    <% } %>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
</html>