<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Main</title>
    <link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="container">
        <div class="content">
            <aside id="sidebar">
                <div class="logo"></div>
                <a href="/item/create">CREATE</a>
            </aside>

            <div id="main">
                <header>
                    <h2>请如实填写相关信息</h2>
                </header>
                <div id="ot-flow-form">
                    <form method="post" action="/item/apply">
                        <input type="text" name="startTime" placeholder="Start Time" />
                        <input type="text" name="endTime" placeholder="End Time" />

                        <textarea rows="10" name="reason" placeholder="Reason"></textarea>
                        <hr/>
                        <input type="submit" value="submit" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>