<!DOCTYPE html>
<html>
<head lang="en">
    <!-- meta -->
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/stylesheets/style.css" media="all" />
</head>
<body>
    <div class="container">
        <div class="login-content">
            <div class="logo"></div>
            <!--signup form-->
            <form class="login-form" action="/user/signup" method="post">
                <input name="user.email" placeholder="Email Address" autocomplete="false" size="20"/>
                <input name="user.name" placeholder="Name" type="text" size="20"/>
                <input name="user.pass" placeholder="Password" type="password" size="20"/>
                <input type="submit" value="Sign In" />
            </form>
        </div>
    </div>
</body>
</html>